@import '../variables.scss';

.container {
  position: absolute;
  top: $outer-padding;
  left: $outer-padding;
  bottom: $outer-padding;
  right: $outer-padding;
  background-color: $light-background;
  border-radius: $outer-border-radius;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .loginLayer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('/calendar.svg');
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
    z-index: 1;
  }

  .login {
    position: relative;
    min-width: 300px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    gap: 20px;
    z-index: 2;
    background: rgb(228 243 251);
    box-shadow: 0 0 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 5px;

    .title {
      font-size: 50px;
      text-align: center;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .login {
    color: #97e7fc;
    background: rgb(6 52 64) !important;
  }

  .button {
    &:hover,
    &:active {
      color: black;
      background: #95d1e0;
    }

    color: black;
    background: #aee7f5;
  }
}
