@import './variables.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: rgba(57, 57, 57, 0.75);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wrapper {
  padding: 20px;
  width: 100%;
  height: 100%;

  .header-title {
    font-size: 30px;
    color: $light-header-title-color;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black !important;
  }
}
