$containers-zindex: 2;
$sidenav-width: 240px;
$header-height: 100px;
$outer-padding: 15px;
$outer-border-radius: 15px;

// colors
$light-background: #f4f6fa;
$light-sidenav-color: #0e47c3;
$light-header-title-color: #4b4b4b;
